<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <title>To do list app</title>
</head>
<body>  
    <!-- Header -->
    <div class="jumbotron" style="margin-bottom: 0;">
        <a href="#" class="navbar-brand">
            <img src="../static/image/Logo.png" alt="logo" style="height: 300px;">
        </a>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/signIn" class="nav-link">Sign in</a>
            </li>
            <li class="nav-item">
                <a href="/signUp" class="nav-link active">Sign up</a>
            </li>
        </ul>
    </nav>
    {% with messages=get_flashed_messages()%}
    {% if messages %}
        {% for messages in messages %}
        <div class="alert alert-danger">
            <strong>Error: </strong>[{{messages}}]
        </div>
        {%endfor%}
    {%endif%}
    {%endwith%}
    {% block content %}{%endblock%}
    <!-- footer -->
    <div class="jumbotron text-center" style="margin-bottom: 0;">
        <p>Copyright &copy;2020 by khangvt</p>
    </div>
    
</body>
</html>